#nav
.container
.nav
  display: flex
  justify-content: space-between
  align-items: center

.container
.nav
.nav__logo
figure
img
.nav__block
.nav__link
  a
    text-decoration: none
    color: #fff
  .router-link-active
    color: #ffff00
    display: flex
.nav__flag
a
