.nav
  position: relative
  display: flex
  justify-content: space-between
  align-items: center
  padding-top: 20px

.nav__logo
  position: relative
  z-index: 3
  @media screen and (max-width: 425px)
    z-index: 0
  img
    @media screen and (max-width: 768px)  
      width: 80%

.nav__block
  display: flex
  position: relative
  transition: 500ms
  @media screen and (max-width: 992px)
    font-size: $mainFontSizeMenuModil

.nav__link
  display: flex
  @media screen and (max-width: 768px)
    transition: 500ms
    background: $primary-color
    flex-direction: column
    top: -300px
    position: absolute
    right: -20px
    text-align: center
    left: -400px
    border-radius: 0 0 0 50px
    z-index: 1
  .router-link-exact-active
    color: $warning-color
  a
    color: $default-color
    margin-left: 30px

.nav__flag
  @media screen and (max-width: 768px)
    margin-left: 24px
  a
    margin-left: 10px

.cross__menu
  width: 35px
  height: 30px
  position: absolute
  right: 20px
  top: -7px
  z-index: 3
  span
    transition: 500ms
    position: absolute
    right: 0px
    height: 3px
    background: $default-color
    &:nth-child(1)
      width: 35px
      top: 0
    &:nth-child(2)
      width: 25px
      top: 10px
    &:nth-child(3)
      width: 35px
      top: 20px      
  @media screen and (min-width: 769px)
    display: none
.cross__clear
  position: absolute
  span
    transition: 500ms
    right: 0
    width: 35px
    height: 3px
    background: $default-color
    &:nth-child(1)
      transform: rotate(-45deg)
      top: 10px
    &:nth-child(2)
      top: 0px
      margin-top: 10px
      opacity: 0
    &:nth-child(3)
      top: -10px
      margin-top: 20px
      transform: rotate(45deg)

.mobil__menu
  padding-top: 20px
  padding-bottom: 10px
  transition: 500ms
  top: -80px
  z-index: 2
  a
    margin-top: 15px
